<section id="slider" class="slider-element min-vh-100 dark include-header">
	<div class="slider-inner">


		<div class="video-wrap" style="z-index: 1;">
			<video poster="images/videos/deskwork.jpg" preload="auto" loop autoplay muted>
				<source src='images/videos/ConnectMedia.mp4' type='video/mp4' />
			</video>
			<div class="video-overlay" style="background-color: rgba(0,0,0,0.45);"></div>
		</div>

	</div>
</section>