<style type="text/css">
.dark .menu-link {
    color: #f66525;
}
</style>

<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="heading-block border-bottom-0 center">
				<h1>Unlimited <span>solutions</span> to all your business needs.</h1>
			</div>

			<div class="fslider bottommargin" data-animation="fade">
				<div class="flexslider">
					<div class="slider-wrap">
						<div class="slide">
							<a href="#" class="d-block position-relative">
								<img src="images/portfolio/1.png" alt="Slide 1">
								<div class="bg-overlay">
									<div class="bg-overlay-content justify-content-start align-items-end">
										<div class="h3 font-weight-light py-2 px-3 bg-light text-dark ml-3 mb-3 rounded">Website Development</div>
									</div>
								</div>
							</a>
						</div>
						<div class="slide">
							<a href="#" class="d-block position-relative">
								<img src="images/portfolio/2.jpg" alt="Slide 2">
								<div class="bg-overlay">
									<div class="bg-overlay-content justify-content-end align-items-end">
										<div class="h3 font-weight-light py-2 px-3 bg-dark text-light mr-3 mb-3 rounded">UI/UX Design</div>
									</div>
								</div>
							</a>
						</div>
						<div class="slide">
							<a href="#" class="d-block position-relative">
								<img src="images/portfolio/3.jpg" alt="Slide 3">
								<div class="bg-overlay">
									<div class="bg-overlay-content">
										<div class="h3 font-weight-light py-2 px-3 bg-color text-light rounded">Mobile Application Development</div>
									</div>
								</div>
							</a>
						</div>
						<div class="slide">
							<a href="#" class="d-block position-relative">
								<img src="images/portfolio/4.jpg" alt="Slide 4">
								<div class="bg-overlay">
									<div class="bg-overlay-content">
										<div class="h3 font-weight-light py-2 px-3 bg-warning text-dark rounded">Games</div>
									</div>
								</div>
							</a>
						</div>
						<div class="slide">
							<a href="#" class="d-block position-relative">
								<img src="images/portfolio/5.jpg" alt="Slide 2">
								<div class="bg-overlay">
									<div class="bg-overlay-content justify-content-end align-items-end">
										<div class="h3 font-weight-light py-2 px-3 bg-dark text-light mr-3 mb-3 rounded">Digital Marketing</div>
									</div>
								</div>
							</a>
						</div>
						<div class="slide">
							<a href="#" class="d-block position-relative">
								<img src="images/portfolio/6.jpg" alt="Slide 4">
								<div class="bg-overlay">
									<div class="bg-overlay-content">
										<div class="h3 font-weight-light py-2 px-3 bg-warning text-dark rounded">Graphics, Video Animation</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div id="portfolio-ajax-wrap">
				<div id="portfolio-ajax-container"></div>
			</div>

			<div id="portfolio-ajax-loader">
				<div class="css3-spinner">
					<div class="css3-spinner-ball-scale-multiple">
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
			</div>

			<div class="grid-filter-wrap">

				<!-- Portfolio Filter
				============================================= -->
				<ul class="grid-filter" data-container="#portfolio">
					<li class="activeFilter"><a href="#" data-filter="*">ALL</a></li>
					<li><a href="#" data-filter=".pf-web">WEBSITES</a></li>
					<li><a href="#" data-filter=".pf-app">APPS</a></li>
					<li><a href="#" data-filter=".pf-games">GAMES</a></li>
				</ul><!-- .grid-filter end -->

				<div class="grid-shuffle rounded" data-container="#portfolio">
					<i class="icon-random"></i>
				</div>
			</div>

			<!-- Portfolio Items
			============================================= -->
			<div id="portfolio" class="portfolio portfolio-ajax row grid-container no-gutters" data-layout="fitRows">

				<!-- Portfolio Item: Start -->
				<article id="portfolio-item-1" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-app">
					<!-- Grid Inner: Start -->
					<div class="grid-inner">
						<!-- Image: Start -->
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/11.jpeg" alt="Open Imagination">
							</a>
							<!-- Overlay: Start -->
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/11.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="App"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
							<!-- Overlay: End -->
						</div>
						<!-- Image: End -->
					</div>
					<!-- Grid Inner: End -->
				</article>
				<!-- Portfolio Item: End -->

				<article id="portfolio-item-2" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-web">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/12.png" alt="NextHome">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/12.png" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="NextHome"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-3" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-graphics pf-app">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/13.jpeg" alt="Buscando Chofer">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/13.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Buscando Chofer"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-4" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-graphics pf-games">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/14.jpeg" alt="Runner Engine">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/14.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Runner Engine"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-12" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-web pf-app">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/22.png" alt="Prepengo">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/22.png" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Prepengo"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-6" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-games">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/16.jpeg" alt="Game">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/16.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Game"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-7" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-games">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/17.jpeg" alt="Game">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/17.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Game"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-11" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-web pf-app">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/21.jpg" alt="AMC QBANK">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/21.jpg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="AMC QBANK"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-9" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-games">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/19.jpeg" alt="Game">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/19.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Game"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-10" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-app">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/20.jpeg" alt="Game">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/20.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Game"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-5" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-web">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/15.png" alt="Health Pure">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/15.png" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Health Pure"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-8" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-app">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/18.jpeg" alt="App">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/18.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="App"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

				<article id="portfolio-item-13" data-loader="include/ajax/portfolio-ajax-image.php" class="portfolio-item col-md-4 col-sm-6 col-12 pf-web pf-app">
					<div class="grid-inner">
						<div class="portfolio-image">
							<a href="#">
								<img src="images/portfolio/23.jpeg" alt="Prepengo">
							</a>
							<div class="bg-overlay">
								<div class="bg-overlay-content dark" data-hover-animate="fadeIn">
									<a href="images/portfolio/23.jpeg" class="overlay-trigger-icon bg-light text-dark" data-hover-animate="fadeInDownSmall" data-hover-animate-out="fadeOutUpSmall" data-hover-speed="350" data-lightbox="image" title="Prepengo"><i class="icon-line-plus"></i></a>
								</div>
								<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
							</div>
						</div>
					</div>
				</article>

			</div><!-- #portfolio end -->

		</div>

	</div>
</section><!-- #content end -->