<style type="text/css">
.dark .menu-link {
    color: #f66525;
}
</style>
<!-- Page Title
============================================= -->

<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<div class="row col-mb-50">

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-laptop i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Web Applications<span class="subtitle">Website development with backend and front end programming and handling complex database.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-mobile-alt i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Mobile Applications<span class="subtitle">Bring your application to the world, connect media will connect you to app world.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-display i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Digital Marketing<span class="subtitle">We help you to bring sales and leads to your company by digitalizing your product.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-line-layers i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>SEO/Smo/Aso<span class="subtitle">We are here to bring your website and application to the top and grow your buisness.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-line2-game-controller i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Unity Games 2d/3d<span class="subtitle">We create 2d and 3d games with single and multiplayer with online gaming options.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-shopping-cart1 i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>E-Commerce<span class="subtitle">We let you bring your products to the eCommerce world and bring more sales and profit to your company.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-support i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>IT Consultancy<span class="subtitle">Dont know how to start? you are at the right place contact us to get in touch with the Senior IT Consultant.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-hire-a-helper i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>OutSourcing<span class="subtitle">Non IT Company cant contact as so that we can identify there buisness and we will locate a permanent staff.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-keyboard1 i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Content Writing<span class="subtitle">Non IT Company cant contact as so that we can identify there buisness and we will locate a permanent staff.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-screen i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Graphic Designing<span class="subtitle">Connect Media helps you create Logos, Brochure, Video Animations both 2d and 3d for your website, app and buisness.</span></h3>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-center fbox-outline fbox-lg fbox-effect">
						<div class="fbox-icon">
							<a href="#"><i class="icon-facetime-video i-alt"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Video Production<span class="subtitle">Connect Media Studio's Pre-wedding shoot – Wedding Photography and Videography – Engagements –Birthday's- and Much More.</span></h3>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div class="section">

			<div class="container">

				<div class="heading-block center">
					<h2>Features &amp; Overviews</h2>
					<span>We provide a wide array of Usable &amp; Flexible Features</span>
				</div>

				<div class="row col-mb-50">

					<div class="col-lg-4 text-center text-lg-left">
						<img data-animate="fadeInLeftBig" src="images/services/iphone.png" alt="iPhone">
					</div>

					<div class="col-lg-4 col-md-6 topmargin">

						<div class="w-100 mb-5">

							<div class="feature-box fbox-plain fbox-sm fbox-dark">
								<div class="fbox-icon">
									<a href="#"><i class="icon-th-large"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Browser Compatible</h3>
									<p>Our Applications can be run on any platform and is browser compatible.</p>
								</div>
							</div>

						</div>

						<div class="w-100 mb-5">

							<div class="feature-box fbox-plain fbox-sm fbox-dark">
								<div class="fbox-icon">
									<a href="#"><i class="icon-wordpress1"></i></a>
								</div>
								<div class="fbox-content">
									<h3>WordPress Sites</h3>
									<p>We create good and compatible wordpress sites.</p>
								</div>
							</div>

						</div>

						<div class="w-100 mb-5">

							<div class="feature-box fbox-plain fbox-sm fbox-dark">
								<div class="fbox-icon">
									<a href="#"><i class="icon-laptop-code"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Easy To Customize</h3>
									<p>We are going to help you coustomize your application on international standards.</p>
								</div>
							</div>

						</div>

						<div class="w-100">

							<div class="feature-box fbox-plain fbox-sm fbox-dark">
								<div class="fbox-icon">
									<a href="#"><i class="icon-shopping-cart"></i></a>
								</div>
								<div class="fbox-content">
									<h3>E-Commerce Platform</h3>
									<p>Connect Media has developed many e-commerce platform and brought buisness online.</p>
								</div>
							</div>

						</div>

					</div>

					<div class="col-lg-4 col-md-6 topmargin">

						<div class="w-100 mb-5">

							<div class="feature-box fbox-plain fbox-sm fbox-dark">
								<div class="fbox-icon">
									<a href="#"><i class="icon-clock2"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Timely Delievery</h3>
									<p>Project are develiverd on time with complete codes to the client.</p>
								</div>
							</div>

						</div>

						<div class="w-100 mb-5">

							<div class="feature-box fbox-plain fbox-sm fbox-dark">
								<div class="fbox-icon">
									<a href="#"><i class="icon-code"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Simple Clean Code</h3>
									<p>We write clean code with commenting to help client reduce future code problems.</p>
								</div>
							</div>

						</div>

						<div class="w-100 mb-5">

							<div class="feature-box fbox-plain fbox-sm fbox-dark">
								<div class="fbox-icon">
									<a href="#"><i class="icon-line-layers"></i></a>
								</div>
								<div class="fbox-content">
									<h3>SEO Friendly</h3>
									<p>We always keep a margin that our application are seo freindly.</p>
								</div>
							</div>

						</div>

						<div class="w-100">

							<div class="feature-box fbox-plain fbox-sm fbox-dark">
								<div class="fbox-icon">
									<a href="#"><i class="icon-video"></i></a>
								</div>
								<div class="fbox-content">
									<h3>Videos And Animatation</h3>
									<p>Connect Media has a studio to make professional videos and animation with our international team.</p>
								</div>
							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>
</section><!-- #content end -->